/*Fonts*/
@font-face {
  font-family: 'FuturaMediumC';
  src: url('../fonts/FuturaMediumC.eot');
  src: local('Futura Medium Cyrillic'), local('FuturaMediumC'),
    url('../fonts/FuturaMediumC.eot?#iefix') format('embedded-opentype'),
    url('../fonts/FuturaMediumC.woff') format('woff'),
    url('../fonts/FuturaMediumC.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}


@font-face {
    font-family: 'LucidaGrande';
    src: url('../fonts/LucidaGrande-Bold.eot');
    src: url('../fonts/LucidaGrande-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/LucidaGrande-Bold.woff2') format('woff2'),
        url('../fonts/LucidaGrande-Bold.woff') format('woff'),
        url('../fonts/LucidaGrande-Bold.ttf') format('truetype'),
        url('../fonts/LucidaGrande-Bold.svg#LucidaGrande-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'AktivGrotesk-bold';
    src: url('../fonts/AktivGroteskCorp-Bold.eot');
    src: local('../fonts/AktivGroteskCorp-Bold'),
        url('../fonts/AktivGroteskCorp-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/AktivGroteskCorp-Bold.woff2') format('woff2'),
        url('../fonts/AktivGroteskCorp-Bold.woff') format('woff'),
        url('../fonts/AktivGroteskCorp-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'AktivGrotesk-reg';
    src: url('../fonts/AktivGroteskCorp-Regular.eot');
    src: local('../fonts/AktivGroteskCorp-Regular'),
        url('../fonts/AktivGroteskCorp-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/AktivGroteskCorp-Regular.woff2') format('woff2'),
        url('../fonts/AktivGroteskCorp-Regular.woff') format('woff'),
        url('../fonts/AktivGroteskCorp-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
/* Basic settings*/

html{
  font-size: 10px;
}
body{
  font-family: 'LucidaGrande',sans-serif;
  // background: url(../img/bg-oriole.jpg) no-repeat center center fixed;
  // -webkit-background-size: cover;
  // -moz-background-size: cover;
  // -o-background-size: cover;
  // background-size: cover; 
}
button,input,a,textarea{
  &:focus {
    outline: none;
  }
}
a{
  &:hover{
    text-decoration: none;
  }
}
nav{
  position: fixed;
  top: 0;
  width: 100%;
  transition: all 0.3s;
}
.sticky {
  .navbar-oriole{
    margin-top: 0;
    transition: all 0.3s;
    a{
    color: black;
    }
  }
  z-index:100;
  background-color: white;
  position: fixed;
  top: 0;
  width: 100%;
  transition: all 0.3s;
  margin-top: 0;
  box-shadow: 0 5px 5px -5px #333;
}
.navbar-oriole{
  transition: all 0.3s;
  a{
    color: white;
  }
  margin-top: 3rem;
  &-name{
    a{
      &:after{
        display: inline-block;
        content:'';
        width: 1rem; 
        height: 1rem;
        margin-left: 0.5rem;
        background: #20D2DC;
        border-radius: 50%;
      }
    }
    font-size: 4rem;
    font-family: 'FuturaMediumC',sans-serif;
  }
  &-topics{
    margin-top: 2rem;
    font-family: 'LucidaGrande',sans-serif;
    a{
      opacity: 80%;
      margin-right: 4rem;
      &:hover{
        opacity: 100%;
      }
    }
    font-size: 1.8rem;
  }
}

.bg{
  background: url(../img/bg-oriole.jpg) no-repeat center center ;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  // height: 150rem;

}

.main{
  &-about{
    &-page{
      margin-top: 24rem;
      &-left{
        
        h2{
          margin-top: 7rem;
          font-family:'AktivGrotesk-bold', sans-serif;
          color: white;
          font-size: 3rem;
        }
        p{
          margin-top: 2rem;
          font-family: 'AktivGrotesk-reg', sans-serif;
          color: white;
          font-size: 1.8rem;
          opacity: 0.8;
        }
      }
    }
  }
  &-slider{
    &-btn{
      background: none;
      background-color: none;
      position: absolute;
      border:none;
      display: inline-block;
      &-next{
        opacity: 0.8;
        &:hover{
          opacity: 1;
        }
        margin-left: 30rem;
      }
      &-prev{
        &:hover{
          opacity: 1;
        }
        opacity: 0.8;
        margin-left: 23rem;
        margin-top:55.2rem;
      }
    }
    &-block{
      img{
        display: inline-block;
        margin-top: 2rem;
      }
    }
  }
  &-footer{
    margin-top: 3rem;
    button{
      border: none;
      background-color: none;
      background: none;
      img{
        opacity: 0.6;
        &:hover{
          opacity: 1;
        }
      }
    }
  }
  &-page{
    padding-top: 10rem;
    &-text{
      opacity: 0.8;
    }
    h1{
      font-family: 'LucidaGrande',sans-serif;
      font-size: 3.2rem;
      color:white;
      margin-top: 15rem;
      line-height: 1.5;
    }
    p{
      opacity: 0.2;
      margin-top: 2rem;
      font-family: 'LucidaGrande',sans-serif;
      font-size: 1.6rem;
      color:white;
    }
    &-button{
      &:hover{
        background-color:darken(white, 10%);
      }
      transition: all 0.3s;
      box-shadow: 0 5px 5px -5px rgba(0, 0, 0, .5);
      margin-top: 2rem;
      &-text{
        font-family: 'LucidaGrande',sans-serif;
        font-size: 1.8rem;
        margin-left: 4rem;
      }
      img{
        margin-left: 16rem;
        margin-bottom: 0.3rem;
      }
      text-align: left;
      background-color: white;
      width: 40.7rem;
      height: 7.2rem;
      border-radius:100px;
      color:#43484D;
      border: none;
    }
    small{
      font-size: 1.6rem;
      color:white;
      opacity: 80%;    
    }
    &-down{
      margin-top:4rem;
    }
  }
}

.features{  
  h2{
    text-align: center;
    margin-top: 10rem;
    font-family: 'AktivGrotesk-reg', sans-serif;
    font-size: 3rem;
  }
  h3{
    text-align: left;
    margin-top: 15rem;
    color: #9169DB;
    font-family: 'AktivGrotesk-reg', sans-serif;
    font-size: 2.6rem;
    opacity: 0.8;
  }
  p{
    margin-top: 1rem;
    font-family: 'AktivGrotesk-reg', sans-serif;
    font-size: 2rem;
    opacity: 0.9;
  }
  &-block{
    &-1{
      img{
        height: 70rem;
      }
    }
    &-2{
      &-less{
        display: none;
      }
      img{
        height: 70rem;
      }
    }
    &-3{
      margin-top: 7rem;
      img{
        height: 55rem;
      }
    }
  }
}

.portfolio{
  background: url(../img/portfolio/bg-portfolio.jpg) no-repeat ;
  // -webkit-background-size: cover;
  // -moz-background-size: cover;
  -o-background-size: cover;
  // background-size: cover;
  // height: 84rem;
  // margin-bottom: 105rem;
  &-header{

    h2{
      text-align: left;
      margin-top: 50rem;
      font-family: 'AktivGrotesk-reg', sans-serif;
      font-size: 3rem;
      color: white;
    }
    p{
      text-align: left;
      margin-top: 1rem;
      font-family: 'AktivGrotesk-reg', sans-serif;
      font-size: 2rem;
      opacity: 0.9;
      color: white;
    }
    img{
      margin-top: 35rem;
    }
  }
  &-main{
    &-block{
      &-1{
        &-less{
          display: none;
          
        }
        margin-top: 10rem;
        &-photo{
          margin-top: 5rem;
        }
        &-text{
          h2{
            font-size: 3rem;
            text-align: left;
          }
          p{
            font-size: 1.6rem;
            text-align: left;
            font-family: 'AktivGrotesk-reg', sans-serif;
            opacity: 0.8;
          }
        }
      }
    &-2{
      margin-top: 10rem;
      &-photo{
          margin-top: 5rem;
        }
      &-text{
        h2{
          font-size: 3rem;
          text-align: right;
        }
        p{
          font-size: 1.6rem;
          text-align: right;
          font-family: 'AktivGrotesk-reg', sans-serif;
          opacity: 0.8;
        }
      }
    }
    }
    text-align: center;
    margin-bottom: 5rem;

  }
}

.footer{
  background: url(../img/footer/bg-footer.jpg) no-repeat center center ;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 47rem;
  &-main{

    &-left{
      img{
        display: inline-block;
      }
      h3{
        margin-top: 25rem;
        color: white;
        font-size: 3rem;
        margin-bottom: 9rem;
      }
      p{

        margin-left: 0.8rem;
        display: inline-block;
        font-family: 'AktivGrotesk-reg', sans-serif;
        line-height: 1;
        font-size: 1.8rem;
        color: white;
        opacity: 0.8;
      }
    }
    &-right{
      a{
        text-align: right;
      }
      img{
        display: inline-block;
        margin-top: 39.5rem;
        opacity:0.8;
        &:hover{
          opacity: 1;
        }
      }
    }
  }
}

.popup{
  display: none;
  position:fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 110;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  @import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');
  *, *:after, *:before {
    box-sizing: border-box;
  }
  body {
    font-family: "DM Sans", sans-serif;
    line-height: 1.5;
    background-color: #f1f3fb;
    padding: 0 2rem;
  }
  img {
    max-width: 100%;
    display: block;
  }
  input {
    appearance: none;
    border-radius: 0;
  }
  .card {

    margin: 2rem auto;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 425px;
    background-color: #FFF;
    border-radius: 10px;
    box-shadow: 0 10px 20px 0 rgba(153, 153, 153, 0.25);
    padding: 0.75rem;
  }
  .card-image {
    border-radius: 8px;
    overflow: hidden;
    padding-bottom: 65%;
    background-image: url('https://assets.codepen.io/285131/coffee_1.jpg');
    background-repeat: no-repeat;
    background-size: 150%;
    background-position: 0 5%;
    position: relative;
  }
  .card-heading {
    position: absolute;
    left: 10%;
    top: 15%;
    right: 10%;
    text-align: left;
    font-weight: 700;
    color: #735400;
    line-height: 1.222;
  }
  .card-heading small {
    display: block;
    font-size: 1.2em;
    font-weight: 400;
    margin-top: 0.25em;
  }
  .card-form {
    padding: 2rem 1rem 0;
  }
  .input {
    display: flex;
    flex-direction: column-reverse;
    position: relative;
    padding-top: 1.5rem;
  }
  .input + .input {
    margin-top: 1.5rem;
  }
  .input-label {
    color: #8597a3;
    position: absolute;
    top: 1.5rem;
    transition: 0.25s ease;
  }
  .input-field {
    border: 0;
    z-index: 1;
    background-color: transparent;
    border-bottom: 2px solid #eee;
    font: inherit;
    font-size: 2.125rem;
    padding: 0.25rem 0;
  }
  .input-field:focus, .input-field:valid {
    outline: 0;
    border-bottom-color: #6658d3;
  }
  .input-field:focus + .input-label, .input-field:valid + .input-label {
    color: #6658d3;
    transform: translateY(-1.5rem);
  }
  .action {
    margin-top: 2rem;
  }
  .action-button {
    font: inherit;
    font-size: 1.8rem;
    padding: 1em;
    width: 100%;
    font-weight: 500;
    background-color: #6658d3;
    border-radius: 6px;
    color: #FFF;
    border: 0;
  }
  .action-button:focus {
    outline: 0;
  }
  .card-info {
    padding: 1rem 1rem;
    text-align: center;
    font-size: 1.15rem;
    color: #8597a3;
  }
  .card-info a {
    display: block;
    color: #6658d3;
    text-decoration: none;
  }

  &-close{
    position: absolute;
    top:-1.5rem;
    right:-2rem;
    text-align: center;
    width: 2rem;
    border:none;
    background-color: transparent;/*прозрачный фон*/
    font-size: 3rem;
    color:white;

  }
  &-content{
    position: fixed;    
    text-align: center;
    left: 50%;
    top:10%;
    background-color: white;
    transform: translateX(-50%);
    padding: 4rem 6rem;
  }
  &-btn{

  }
  &-form{
    padding:0;
    margin-top: 4rem; 
  }
  &-header{
    font-family: 'AktivGrotesk-reg', sans-serif;
  }
}
.arrow-photo{
  width: 5rem;
  height: 5rem;
}
.photo-2{
  height: 50rem;
  margin-left: 17.5rem;
  margin-top: 2rem;
  height: 50rem;
}
.photo-3{
  margin-top: 1rem;
  height: 50rem;
  text-align: center;
  margin-left: 5rem;
}

@media (max-width: 1200px){
  .main{
    &-slider{
      &-block-2{
        img{
          // height: 38rem;
          margin-left: 16rem;
        }
      }
      &-btn{  
        &-next{
          margin-left: 26rem;
        }
        &-prev{
          margin-top: 43.6rem;
          margin-left: 19rem;
        }
      }
      &_item{
        img{
          height: 41rem;  
          }
        }
      }
    }
  .features{
    &-block{
      &-1{
        img{
          height: 55rem;
        }
      }
      &-2{
        img{
          height: 55rem;
        }
      }
      &-3{
        img{
          height: 47rem;
        }
      }
    }
  }
  .portfolio{
    &-header{
      &-right{
        img{
          margin-bottom: 10rem;
          height: 45rem;
          margin-top: 45rem;

        }
      }
    }
  }
}
@media (max-width: 992px){
  .features{
    h3{
      margin-top: 3rem;
    }
    &-block{
      &-1{
        img{
          margin-bottom: 5rem;
        }
      }
      &-2{
        &-less{
          display: block;
        }
        &-large{
          display: none;
        }
      }
      &-3{
        margin-top: 0;
        img{
          margin-top: 5rem;
        }
      }
    }
  }
  .portfolio-header-right{
    img{
      margin-top: 1rem;
    }
  }
  .portfolio-main-block-1-less{
    display: block;
  }
  .portfolio-main-block-1-large{
    display: none;
  }
  .footer{

  }
}

@media (max-width: 768px){
  .navbar-oriole-topics{
    a{
      margin-right: 2rem;
    }
  }
  .features{
    &-block{
      &-1{
        img{
          height: 50rem;
        }
      }
      &-2{
        img{
          height: 48rem;
        }
      }
      &-3{
        img{
          height: 44rem;
        }
      }
    }
  }
}

@media (max-width: 576px){
  .navbar-oriole-topics{
    a{
      margin-right: 1.4rem;
    }
  }
  .features{
    &-block{
      &-1{
        img{
          height: 43rem;
        }
      }
      &-2{
        img{
          height: 40rem;
        }
      }
      &-3{
        img{
          height: 38rem;
        }
      }
    }
  }
  .main-about-page-right{
    img{
      height: 40rem;
      // position:absolute;
      // top:-10rem;
    }
  }
  .main-about-page{
    margin-top: 2rem;
  }
}